@tailwind base;
@tailwind components;
@tailwind utilities;

*:hover {
    transition: all 0.3s;
}

body {
    @apply bg-background;
    @apply text-light;
    @apply font-sans;
    @apply text-sans-md;
}

a:hover {
    @apply text-blue;
}

.control-btn:hover {
    @apply bg-background;
    @apply text-light;
    @apply border-grey;
    @apply border-l;
    @apply border-r;
    @apply border-b;
}

text {
    @apply text-light;
    @apply font-mono;
    @apply text-mono-sm;
    /* font-size: 0.5rem; */
    /* letter-spacing: 0.4px; */
}

/* Network Visualization */
text.labels {
    font-size: 0.5rem;
    letter-spacing: 0.4px;
    @apply text-light;
    @apply font-mono;
}

